html *
{
	font-size: 1em !important;
	color: #000 !important;
	font-family: Arial !important;
}
#container
{
	margin: 0 auto;
	width: 100%;
	background: #fff;
}

#header
{
	padding: 0.5%;
	background-color: #FFF;
	border: thin dotted #008000;
}

#header h1 { margin: 0; }

#navigation
{
	float: left;
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FF8000;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff;
}

#navigation li a:hover {
	background-color: #66CC00;
}

#content-container
{
	float: left;
	width: 100%;
	background-color: #FFF;
	background-repeat: no-repeat;
	background-position: 0% 0;
}

#content
{
	clear: left;
	float: left;
	width: 100%;
	display: inline;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0%;
	padding-top: 10px;
	padding-right: 0;
	padding-bottom: 10px;
	padding-left: 0;
}

#content h2 { margin: 0; }

#footer
{
	clear: left;
	text-align: right;
	padding: 5px;
	height: 0.5%;
	background-color: #66CC00;
	font-style: normal;
	color: #FFF;
	font-size: 10px;
}
#image {
	width: 40%;
	max-width: 40%;
	height: 40%;
	max-height: 40%;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #FFF;
	border-right-color: #FFF;
	border-bottom-color: #FFF;
	border-left-color: #FFF;
}
